<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Lista de Professores')}"></head>
<body>
<header th:replace="~{fragmentos :: header('Lista de Professores')}"></header>
<div class="container">
    <!-- Convention over configuration: utilizar a convenção do framework evita escrever muito código -->
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Salário</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="professor : ${professores}">
                    <th class="col-1" scope="row" th:text="${professor.getId()}">ID</th>
                    <td class="col-4" th:text="${professor.nome}">Nome do Professor</td>
                    <td class="col-2" th:text="${professor.salario}">Salário</td>
                    <td class="col-2" th:text="${professor.statusProfessor.toString()}">Status</td>
                    <td class="col-1"><a href="#">Detalhes</a></td>
                    <td class="col-1"><a href="#">Editar</a></td>
                    <td class="col-1"><a href="#">Deletar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="/professores/new">Novo Professor</a>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>